################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OBD2_Simulator/FileContentIndex/d4c60bc5-7763-4507-b51d-de97e3b9e0d1.vsidx
/.vs/OBD2_Simulator/FileContentIndex/27ffb5b7-59d2-4858-8a3e-8389e6cd6067.vsidx
/.vs/OBD2_Simulator/FileContentIndex/f35ad676-1153-4257-9de8-69868727e409.vsidx
/.vs/OBD2_Simulator/FileContentIndex/f6a9a29e-1114-4bdf-b3a4-0d91d5886dee.vsidx
/.vs/OBD2_Simulator/FileContentIndex/9ae3b6b8-9aa7-45bd-a65f-7d6a82db107f.vsidx
/.vs/OBD2_Simulator/FileContentIndex/31f2cb41-7ca2-446c-a6e9-a14939eef5c8.vsidx
/.vs/OBD2_Simulator/FileContentIndex/ec7f7e12-3c5b-4957-b01d-24bf0363bd1f.vsidx
/.vs/OBD2_Simulator/FileContentIndex/36afe3d2-b3a2-4a60-8b3c-1d06598500f6.vsidx
/.vs/OBD2_Simulator/FileContentIndex/423eda62-2f72-42d3-83df-1a6d1a788968.vsidx
*.vsidx
